.custom-button {
    width: 200px; /* Largura personalizada */
    height: 50px; /* Altura personalizada */
    font-size: 16px; /* Tamanho da fonte */
    background-color: rgb(67, 148, 255);
    border-radius: 10px;
    border: none;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    color: white;
}

.custom-button:hover {
    background-color: rgb(61, 131, 223);
}

.carousel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.carousel-item img {
    height: 100%;
    object-fit: cover; 
}