body {
    background-color: #b4cee7; /* Cor de fundo suave */
  }
  
.container {
    background-color: rgb(67, 148, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 10vh;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.container h1 {
    margin: 0px;
    padding: 0px;
    font-size: 40px;
}

.container h3 {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}